# Virtual Environment
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
